<!DOCTYPE html>
<html ng-app="<%= _.slugify(appname) %>">
<head>
	<title></title>

	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="utf-8">

	<!-- CSS from Bower components  -->

	<!-- App CSS -->
	<link rel="stylesheet" type="text/css" href="css/app.css">

</head>
<body>

	<!-- Livereload script for development only (stripped during dist build) -->
	<!-- <script data-build="exclude">
	(function() {
		var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
		po.src = 'http://'+window.location.hostname+':35729/livereload.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
	})();
	</script> -->

	<!-- JS from Bower components -->
	<script src="bower_components/jquery/jquery.js"></script>
	<script src="bower_components/lodash/dist/lodash.compat.js"></script>
	<script src="bower_components/angular/angular.min.js"></script>
	<script src="bower_components/angular-resource/angular-resource.js"></script>
	<script src="bower_components/angular-cookies/angular-cookies.js"></script>
	<script src="bower_components/angular-route/angular-route.js"></script>
	<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
	<script src="bower_components/moment/min/moment.min.js"></script>

	<!-- Main App JS -->
	<script src="js/setup.js"></script>

	<!-- Service JS -->
	<!-- Add New Service JS Above --> 

	<!-- Directive JS -->
	<!-- Add New Directive JS Above -->

	<!-- Filter JS -->
	<!-- Add New Filter JS Above -->

	<!-- Partial JS -->
	<!-- Add New Partial JS Above -->

	<div>
		<div id="content" class="container">
			<div class="row">
				<div ng-view>
				</div>
			</div>
		</div>
	</div>

</body>
</html>